<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 설정 -->
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/cha.css}">
    <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/header :: header}"></div>

<main class="flex-grow-1">
    <div layout:fragment="content"></div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>