<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<div layout:fragment="content" class="container-md my-5">
    <!--  여기가 main  -->

    <h1>[ no.[[${board.bno}]] ] Detail Page</h1>
    <form action="/board/update" method="post" class="my-5" id="modForm">
        <input type="hidden" name="bno" th:value="${board.bno}">
        <div class="mb-3">
            <label for="t" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="t" readonly th:value="${board.title}">
        </div>
        <div class="mb-3">
            <label for="w" class="form-label">Writer</label>
            <input type="text" class="form-control" id="w" name="writer" readonly th:value="${board.writer}">
        </div>
        <div class="mb-3">
            <label for="r" class="form-label">regDate</label>
            <input type="text" th:value="${#temporals.format(board.regDate,'yyyy-MM-dd HH:mm:ss')}" readonly class="form-control" id="r" >
        </div>
        <div class="mb-3">
            <label for="c" class="form-label">Content</label>
            <textarea class="form-control" id="c" name="content" readonly rows="10" cols="30">[[${board.content}]]</textarea>
        </div>
    </form>

    <div class="bntline">
    <a th:href="@{/board/list}" class="text-decoration-none">
        <button type="button" id="listBtn" class="btn btn-success">list</button>
    </a>
    <a th:href="@{#}" class="text-decoration-none">
        <button type="button" id="modBtn" class="btn btn-warning">modify</button>
    </a>
    <a th:href="@{/board/remove(bno=${board.bno})}" class="text-decoration-none">
        <button type="button" id="delBtn" class="btn btn-danger">delete</button>
    </a>
    </div>

    <!-- 댓글 라인 -->
    <div id="comment">
    <!-- 댓글 입력 -->
        <div class="input-group my-3">
            <span class="input-group-text" id="cmtWriter">writer</span>
            <input type="text" class="form-control" id="cmtText" placeholder="댓글을 입력하세요." aria-label="Username" aria-describedby="basic-addon1">
            <button type="button" id="cmtAddBtn" class="btn btn-warning">create</button>
        </div>
    <!-- 댓글 출력 -->
        <ul class="list-group list-group-flush" id="cmtListArea">
<!--            <li class="list-group-item shadow-sm rounded">-->
<!--                <div class="ms-2 me-auto">-->
<!--                    <div class="fw-bold">writer</div>-->
<!--                    content-->
<!--                </div>-->
<!--                <span class="badge rounded-pill text-bg-warning">regDate</span>-->
<!--                <button type="button" class="btn btn-outline-success btn-sm">%</button>-->
<!--                <button type="button" class="btn btn-outline-danger btn-sm">X</button>-->
<!--            </li>-->
        </ul>

        <!-- more button -->
        <div class="input-group my-3">
            <button type="button" id="moreBtn"
                    data-page="1" class="btn btn-warning"
                    style="visibility: hidden">more +</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="cmtWriterMod">Writer</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="cmtTextMod">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="cmtModBtn">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const bno = [[${board.bno}]];
    </script>
    <script th:src="@{/js/boardModify.js}"></script>
    <script th:src="@{/js/boardComment.js}"></script>
    <script>
        spreadCommentList(bno)
    </script>
</div>