<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
    <h1>Board Register Page</h1>

    <form action="/board/register" method="post" class="my-5">

        <div class="mb-3">
            <label for="t" class="form-label">TITLE/label>
            <input type="text" class="form-control" id="t" name="title" placeholder="title..." >
        </div>

        <div class="mb-3">
            <label for="w" class="form-label">WRITER</label>
            <input type="text" class="form-control" id="w" name="writer" placeholder="writer...">
        </div>

        <div class="mb-3">
            <label for="c" class="form-label">Example textarea</label>
            <textarea class="form-control" id="c" name="content" rows="10" cols="30"></textarea>
        </div>

        <button type="submit" class="btn btn-warning">create</button>

    </form>
</div>
</html>