<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container py-5">

    <div class="card-custom text-center">

        <h1 class="display-5">
            📝 Board Project
        </h1>

        <p class="text-secondary mb-4">
            Spring Boot + JPA + MySQL 게시판 프로젝트
        </p>

        <img src="/image/original.jpg"
             class="img-fluid rounded-4 shadow"
             width="700">

        <div class="mt-4">

            <a href="/board/list"
               class="btn btn-warning px-4">
                게시글 보기
            </a>

            <a href="/board/register"
               class="btn btn-outline-dark px-4">
                글 작성
            </a>

        </div>

    </div>

</div>